//Nothing here, except Jony's favorite fonts.
* {
    -webkit-font-smoothing:subpixel-antialiased; // Needed for Safari.
    font-family:"SF Text", "SF UI Text", "SF Compact Text", "San Francisco Text", "Helvetica Neue", Helvetica, sans-serif;
}
.mw-portlet {
    display:none;
}

body {
    font-size:12pt;
}
h1, h2 {
    font-family:"SF Display", "SF UI Display", "SF Compact Display", "San Francisco Display", "Helvetica Neue", Helvetica, sans-serif;
}
